<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/resources/css/table.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{fragments/userFragment::header}"></div>
<div class="container">
    <div class="text-center">
        <h4 th:text="#{myProfile.hello} + ${user.email}"></h4>
        <div class="form-group">
                <label for="trainingDay"><h3 th:text="#{myProfile.yourTP}">TrainingProgram</h3></label>
                <div id="trainingDay" th:each="trainingDay : ${user.trainingProgramDTO}">
                    <label for="exercise"><h3 th:text="#{myProfile.trainingDay}">TrainingDay</h3></label>
                    <div id="exercise" th:each="exercise : ${trainingDay.exercisesDTO}">
                            <h5 th:text="${exercise.name}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/userFragment::footer}"></div>
</body>
</html>