<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{fragments/registrationFragment::header}"></div>
<div class="container">
    <div class="row justify-content-center mt-10">
        <div class="col-5 mt-5 p-3">
            <form th:method="post" th:action="@{/register}" enctype="application/x-www-form-urlencoded" th:object="${user}">
                <div class="mb-3">
                    <label for="exampleInputEmail" class="form-label" th:text="#{register.email}">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail"
                           aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text" th:text="#{register.share}">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword" class="form-label" th:text="#{register.password}">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword" required>
                </div>
                <label class="form-label" th:text="#{register.gender}">Gender</label>
                <div class="form-check">
                    <input id="male" name="gender" type="radio" class="form-check-input" th:field="*{gender}" th:value="MALE" checked required>
                    <label class="form-check-label" for="male" th:text="#{register.male}">Male</label>
                </div>
                <div class="form-check">
                    <input id="female" name="gender" type="radio" class="form-check-input" th:field="*{gender}" th:value="FEMALE" required>
                    <label class="form-check-label" for="female" th:text="#{register.female}">Female</label>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{register.submit}">Submit</button>
                <div class="form-text">
                    <span th:text="#{register.haveAcc}">Have acc</span>
                    <a th:href="@{/login}" th:text="#{register.signIn}">Sign in</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>