<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
</head>
<body>
<div th:fragment="header">
    <link rel="stylesheet" th:href="@{/resources/css/fragment.css}">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/admin/home}" th:text="#{fragment.home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/information}" th:text="#{home.aboutGym}">About gym</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/price}" th:text="#{price.price}">Price</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/team}" th:text="#{home.ourTeam}">Our team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/newTrainer}" th:text="#{fragment.newTrainer}">New Trainer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/register}" th:text="#{fragment.newAdmin}">New Admin</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a th:id="Lang" class="btn" th:href="@{?lang=en_US}">English</a>
                        <a th:id="Lang" class="btn" th:href="@{?lang=ru_RU}">Русский</a>
                        <a th:id="Lang" class="btn" th:href="@{/logout}" th:text="#{fragment.logout}">Logout</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</div>

<div th:fragment="footer">
    <footer>
        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
                <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
            </footer>
        </div>
    </footer>
</div>
</body>
</html>