<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/resources/css/homePage.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{fragments/adminFragment::header}"></div>
<div class="container">
    <div class="row">
        <h1 class="text-center" id="bestDay" th:text="#{home.bestDay}">Best day</h1>
    </div>
    <div class="row">
        <div id="aboutGym">
            <h2><a th:href="@{/admin/information}" th:text="#{home.aboutGym}">About gym</a></h2>
            <p th:text="#{home.fitnessLife}">Fitness life</p>
            <ul>
                <li th:text="#{home.cardioZone}">Cardio zone</li>
                <li th:text="#{home.freeWeights}">Free weights</li>
                <li th:text="#{home.powerEquipment}">Power equipment</li>
                <li th:text="#{home.individualTrainings}">Individual trainings</li>
            </ul>
        </div>
    </div>
    <div class="row" id="team">
        <div class="col-6">
            <h2><a th:href="@{/admin/team}" th:text="#{home.ourTeam}">Our team</a></h2>
            <p th:text="#{home.certifiedTrainers}">Certified trainers</p>
        </div>
    </div>
    <div class="row" id="order">
        <h1 class="text-center" th:text="#{home.welcome}">Welcome</h1>
        <h1 class="text-center"><a th:href="@{/admin/price}" th:text="#{home.orderSubscription}">Order</a></h1>
    </div>
</div>
<div th:replace="~{fragments/adminFragment::footer}"></div>
</body>
</html>