<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Price page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/resources/css/price.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{fragments/adminFragment::header}"></div>
<div class="container">
    <div class="row">
        <h1 th:text="#{price.price}">Prices</h1>
        <ul>
            <li th:text="#{price.subForMonth}">Sub for month</li>
            <li th:text="#{price.subForSix}">Sub for six month</li>
            <li th:text="#{price.subForYear}">Sub for year</li>
            <li th:text="#{price.subForTwelve}">Sub for twelve</li>
            <li th:text="#{price.subForTwenty}">Sub for twenty</li>
            <li th:text="#{price.subForThirty}">Sub for thirty</li>
        </ul>
    </div>
    <div class="row">
        <h1 th:text="#{price.sale}">Sales</h1>
        <ul>
            <li th:text="#{price.moreTrain}">More trainings</li>
            <li th:text="#{price.sales}">Sales for clients</li>
        </ul>
        <h4><a th:href="@{/user/orderBySeason}" th:text="#{price.orderByTime}">Order by time</a></h4>
        <h4><a th:href="@{/user/orderByCountTrainings}" th:text="#{price.orderByCount}">Order by count</a></h4>
    </div>
</div>
<div th:replace="~{fragments/adminFragment::footer}"></div>
</body>
</html>