<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/resources/css/team.css}">
    <script th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="~{fragments/adminFragment::header}"></div>
<div class="container">
    <div class="row">
        <h2 class="text-center" th:href="@{/user/team}" th:text="#{home.ourTeam}">Our team</h2>
        <h4 th:text="#{home.certifiedTrainers}">Certified trainers</h4>
    </div>
    <div class="form-group" th:object="${allTrainers}">
        <label for="trainers"><h4 th:text="Trainers"></h4></label>
        <div id="trainers" th:each="trainer : ${allTrainers}">
            <div>
                <h5 th:text="${trainer.firstName} + ' ' + ${trainer.lastName} + ' ' + #{team.experience} +
                ${trainer.experience} + ' ' + #{team.year}"></h5>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/adminFragment::footer}"></div>
</body>
</html>